<section class="proyectos">
    <div class="section section-title"><h2>Proyectos</h2><a href="#"><i class="fas fa-plus"></i></a></div>
    <div *ngFor="let proyecto of miPortfolio.proyectos" class="section section-projects">
        <div class="project-info">
            <a [href]="proyecto.enlace"><h3 class="project-title">{{ proyecto.titulo }}</h3></a>
            <p>{{ proyecto.descripcion }}</p>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</section>