<div class="banner"><img [src]="miPortfolio.imagenBanner" alt="Banner"></div>

<div class="grid-perfil">
    <div class="bio">
        <div class="profile-picture">
            <img [src]="miPortfolio.imagenPerfil" alt="Imagen de perfil">
        <a href="#"><i class="far fa-edit"></i></a>
        </div>
        <h3>{{ miPortfolio.nombre }}</h3>
        <p>{{ miPortfolio.posicion }}</p>
        <p>{{ miPortfolio.ubicacion }}</p>
        <div class="bio-buttons">
            <button class="btn btn-primary">Tengo interés en</button>
            <button class="btn btn-secondary">Añadir sección</button>
            <button class="btn btn-secondary">Más</button>
        </div>
    </div>
    <div class="logo">
        <img [src]="miPortfolio.imagenLogo" alt="Logo (conicet)">
    </div>
</div>