<div class="banner"><img src="../assets/img/banner.jpg" alt="Banner"></div>

<div class="grid-perfil">
    <div class="bio">
        <div class="profile-picture">
            <img src="../assets/img/profile-picture.png" alt="Imagen de perfil">
        <a href="#"><i class="far fa-edit"></i></a>
        </div>
        <h3>Rodrigo Heredia</h3>
        <p>Estudiante en UTN</p>
        <p>Buenos Aires, Argentina</p>
        <div class="bio-buttons">
            <button class="btn btn-primary">Tengo interés en</button>
            <button class="btn btn-secondary">Añadir sección</button>
            <button class="btn btn-secondary">Más</button>
        </div>
    </div>
    <div class="logo">
        <img src="../assets/img/utn.jpg" alt="Logo (conicet)">
    </div>
</div>