<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
  <app-navegacion></app-navegacion>
    <div class="container-fluid">
      <app-encabezado></app-encabezado>
      <app-acerca-de></app-acerca-de>
      <app-experiencia-y-educacion></app-experiencia-y-educacion>
      <app-aptitudes></app-aptitudes>
      <app-proyectos></app-proyectos>
    </div>
</body>
</html>