<section class="section-skills">
    <div class="section section-title"><h2>Hard skills & Soft Skills</h2><a href="#"><i class="fas fa-plus"></i></a></div>
    <div class="bar">
        <div class="bar-content">
            <p>Habilidad principal</p>
            <div class="bar-background">
                <div class="bar-progress"></div>
            </div>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <div class="bar">
        <div class="bar-content">
            <p>Habilidad secundaria</p>
            <div class="bar-background">
                <div class="bar-progress"></div>
            </div>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</section>