<section class="experiencia-y-educacion">
    <div class="section section-title"><h2>Experiencia</h2><a href="#"><i class="fas fa-plus"></i></a></div>
    <div class="section section-content">
        <img src="../assets/img/placeholder.png" alt="imagen">
        <div class="section-info">
            <h3 class="title">Puesto</h3>
            <p class="description">Tareas realizadas</p>
            <p class="period">Período de tiempo</p>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>

    <div class="section section-title"><h2>Educación</h2><a href="#"><i class="fas fa-plus"></i></a></div>
    <div class="section section-content">
        <img src="img/placeholder.png" alt="imagen">
        <div class="section-info">
            <h3 class="title">Título</h3>
            <p class="description">Establecimiento</p>
            <p class="period">Período de tiempo</p>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <div class="section section-content">
        <img src="img/placeholder.png" alt="imagen">
        <div class="section-info">
            <h3 class="title">Título</h3>
            <p class="description">Establecimiento</p>
            <p class="period">Período de tiempo</p>
        </div>
        <div class="section-icons">
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</section>